.post-dd-toggle {
  cursor: pointer;
  font-size: 18px;
  position: relative;

  ul {
    font-size: 12px;
    font-weight: normal;
    color: rgb(29, 33, 41);
    position: absolute;
    border: 1px solid $border-gray;
    border-radius: 3px;
    background-color: white;
    right: 0;
    white-space: nowrap;

    li {
      padding: 5px;
      border-radius: 2px;

      &:hover {
        background-color: $fb-blue;
        border: 0px 1px solid $border-blue;
        color: white;
      }
    }
  }

  &:hover {
    font-weight: 600;
    color: #1d2129;
  }
}
