.profile-friends {
  background-color: rgb(246, 247, 249);
  border: 1px solid $border-gray;
  white-space: nowrap;

  nav {
    display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    h2 {
      color: #4b4f56;
      font-size: 20px;
      font-weight: 500;
    }

    input {
      border: 1px solid $border-gray;
      color: black;
      background-color: white;
      padding: 4px;
      font-size: 14px;
      width: 200px;
    }
  }

  > ul {
    background-color: white;
    border-top: 1px solid $border-gray;
    display: flex;
    box-sizing: content-box;

    > li {
      box-sizing: border-box;
      border: 1px solid $border-gray;
      // height: 100px;
      width: 50%;
      margin: 8px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:nth-of-type(2) {
        margin-left: 0;
      }

      a {
        font-weight: 500;
        display: flex;
        align-items: center;

        &:hover {
          text-decoration: underline;
        }

        img {
          width: 100px;
          height: 100px;
          margin-right: 8px;
          object-fit: cover;
        }
      }

      button {
        background-color: $fb-blue;
        color: white;
        border: 1px solid $border-blue;
        padding: 5px;
        margin-right: 8px;
        border-radius: 2px;
        font-size: 12px;
        position: relative;

        .hidden { display: none; }
      }
    }
  }

}
