.post-comment-form {
  background: rgb(247, 248, 250);
  display: flex;
  padding-top: 8px;
  font-size: 12px;

  img {
    height: 32px;
    width: 32px;
    padding-right: 9px;
    flex-grow: 0;
  }

  textarea {
    height: 32px;
    flex-grow: 1;
    background-color: white;
    border: 1px solid $border-gray;
    padding-left: 6px;
    padding-top: 8px;
    box-sizing: border-box;
    resize: none;
    overflow: hidden;
  }

  input:focus {
    border: 1px solid rgba(74, 108, 189, 0.8);
  }
}
