.profile-header {
  box-sizing: border-box;
  width: 848px;
  margin-bottom: 16px;
  position: relative;
  border-bottom: 1px solid $border-gray;

  .cover-photo-container {
    height: 315px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top: 0;
    transition: all 0.3s ease-in;
  }

  .profile-pic-container {
    height: 170px;
    width: 170px;
    position: absolute;
    overflow: hidden;
    bottom: 16px;
    left: 16px;
    border: 1px solid black;
    border-radius: 3px;

    .profile-pic-border {
      border: 3px solid white;
      border-radius: 3px;

      .profile-pic {
        width: 100%;
        height: auto;
        height: 162px;
        width: 162px;
      }
    }
  }

  .username {
    position: absolute;
    bottom: 60px;
    left: 200px;
    color: white;
    font-size: 26px;
    font-weight: 500;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
  }

  .profile-header-nav {
    background: white;
    border: 1px solid $border-gray;
    border-top: 0;
    border-radius: 0px 0px 3px 3px;
    display: flex;
    flex-direction: row;
    padding-left: 200px;
    font-size: 15px;
    font-weight: 600;
    color: $link-blue;
    letter-spacing: 0.5px;

    a {
      display: block;
      padding: 14px;
      border-right: 1px solid $border-gray;
    }

    a:first-child {
      border-left: 1px solid $border-gray;
    }

    a:hover {
      text-decoration: underline;
    }

    .active {
      position: relative;
    }

    .active:after {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 50%;
      margin-left: -10px;
      width: 0;
      height: 0;
      border-top: 0 solid $border-gray;
      border-bottom: 10px solid $border-gray;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
      background: transparent;
    }

    .active:before {
      content: "";
      position: absolute;
      bottom: -2px;
      left: 50%;
      margin-left: -10px;
      width: 0;
      height: 0;
      border-top: 0 solid $background-gray;
      border-bottom: 10px solid $background-gray;
      border-right: 10px solid transparent;
      border-left: 10px solid transparent;
      background: transparent;
    }
  }
}
