.card {
  border-radius: 3px;

  header {
    background-color: white;
    color: black;
    font-size: 16px;
    display: flex;
    align-items: center;

    img {
      height: 25px;
      width: 25px;
      padding: 12px;
      padding-right: 9px;
    }
  }
}
