.profile-header {
  box-sizing: border-box;
  width: 848px;
  margin-bottom: 16px;
  position: relative;

  .cover-photo-container {
    height: 315px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top: 0;
  }

  .profile-pic-container {
    height: 170px;
    width: 170px;
    position: absolute;
    bottom: 16px;
    left: 16px;
    border: 1px solid black;
    border-radius: 3px;

    .profile-pic {
      border: 3px solid white;
      border-radius: 3px;
      width: 100%;
      height: auto;
    }
  }

  nav {
    background: white;
    border: 1px solid $border-gray;
    border-top: 0;
    border-radius: 0px 0px 3px 3px;
    display: flex;
    flex-direction: row;
    padding-left: 200px;
    font-size: 15px;
    font-weight: 600;
    color: $link-blue;
    letter-spacing: 0.5px;

    a {
      display: block;
      padding: 14px;
      border-right: 1px solid $border-gray;
    }

    a:first-child {
      border-left: 1px solid $border-gray;
    }
  }
}
