$fb-blue: #3B5998;
$border-blue: #29487D;

$background-gray: #E9EBEE;
$header-gray: rgb(247, 248, 250);
$link-blue: rgb(60, 93, 165);
$subtle: rgb(158, 158, 169);
$border-gray: rgb(232, 233, 236);

$button-blue: rgb(74, 108, 189);

$delete-red: rgb(190, 24, 35);
$error-red: #be4b49;
