header {
  background-color: $fb-blue;
  color: white;
  padding: 5px 0px;

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.logo {
  font-size: 26px;
  padding: 5px;
  color: white;
  cursor: pointer;
}

.header-left, .header-right{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchbar {
  width: 300px;
  height: 20px;
  background: white;
}

header nav {
  display: flex;
  flex-direction: row;
  align-items: center;

  a {
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      height: 25px;
      width: auto;
      overflow: hidden;
    }
  }
}
