.post-item {
  width: 486px;
  padding: 12px;
  background-color: white;
  border: 1px solid $border-gray;
  border-radius: 3px;
  margin-bottom: 10px;
  font-size: 14px;

  .post-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 12px;

    .profile-pic-thumbnail {
      height: 38px;
      width: 38px;
      padding-right: 12px;
    }

    .metadata {
      display: flex;
      flex-direction: column;
      align-content: space-between;

      time {
        color: $subtle;
        font-size: 12px;
        font-weight: 300;
      }
    }
  }

  a {
    color: $link-blue;
    font-weight: 700;
    margin-bottom: 3px;
  }
}
