.post-item {
  width: 510px;
  padding: 12px;
  background-color: white;
  border: 1px solid rgb(232, 233, 236);
  border-radius: 3px;
  margin-bottom: 10px;
  font-size: 14px;

  .post-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 14px;

    .profile-pic-thumbnail {
      height: 38px;
      width: 38px;
      padding-right: 12px;
    }

    .metadata {
      display: flex;
      flex-direction: column;
      align-content: space-between;
    }
  }

  a {
    color: $link-blue;
    font-weight: bold;
  }
}
