.post-item {
  padding: 12px;
  background-color: white;
  border: 1px solid $border-gray;
  border-radius: 3px;
  margin-bottom: 10px;
  font-size: 14px;

  .post-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 12px;

    .info {
      display: flex;
      flex-direction: row;

      .metadata {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .byline {
          display: flex;

          span {
            color: $subtle;
            padding: 0px 5px;
          }
        }

        time {
          color: $subtle;
          font-size: 12px;
          font-weight: 300;
        }
      }
    }

    nav {
      color: $subtle;

      i {
        padding: 3px;
        border-radius: 3px;
        cursor: pointer;
        margin-right: 3px;
      }

      i:hover {
        color: $link-blue;
        background-color: $border-gray;
      }

      i.fa-trash:hover {
        color: $delete-red
      }
    }
  }

  a {
    color: $link-blue;
    font-weight: 700;
    margin-bottom: 3px;
  }
}
