.post-form-container {
  background: white;
  border: 1px solid $border-gray;
  border-radius: 3px;
  margin-bottom: 12px;

  nav {
    background: rgb(247, 248, 250);
    border-bottom: 1px solid $border-gray;
    display: flex;
    flex-direction: row;

    a {
      display: flex;
      flex-direction: row;
      color: $link-blue;
      margin: 8px 12px;
      font-size: 14px;
      font-weight: 600;

      img {
        padding-right: 6px;
      }
    }

    a:first-child {
      margin-right: 0px;
    }

    a:first-child:after {
      content: "|";
      color: $subtle;
      padding-left: 6px;
    }

    a:hover {
      cursor: pointer;
    }
  }


  div {
    display: flex;
    flex-direction: row;
    margin-top: 12px;

    img {
      padding-left: 12px;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      img {
        padding: 12px;
      }

      textarea {
        min-height: 38px;
        resize: none;
        display: flex;
        align-items: center;
      }

      input[type='submit'] {
        display: inline;
        color: white;
        font-size: 14px;
        font-weight: 500;
        border-radius: 2px;
        background: $button-blue;
        text-align: center;
        height: 24px;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
